@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Anton");
* {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
}
html, body {
  width: 100vw;
  height: 100vh;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: url("https://drive.google.com/uc?export=view&id=1Y-ijEM-_tt9mfzBLn2wZVvwIY2l-3h9k")
    center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  grid-template-areas:
    ". . ."
    ". card ."
    ". footer .";
}
.card {
  padding: 2%;
  max-height: 85vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1.2fr 2fr 1.3fr 0.8fr 0.8fr;
  color: #eee;
  grid-area: card;
  border-radius: 30px;
  background: linear-gradient(rgba(74, 64, 40, 0.5), rgba(44, 34, 10, 0.8)),
    url("https://drive.google.com/uc?export=view&id=1Y-ijEM-_tt9mfzBLn2wZVvwIY2l-3h9k")
      center center no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 30px -2px rgba(10, 10, 10, 0.7);
}

#city,
.cast,
#description,
.minmax-row {
  grid-column: span 5;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(10,10,10,0.5);
}
.logo {
  flex-direction: column;  
  grid-column: 2/5;
}
.logo svg {
  height: 11vw;
  width: auto;
}
.logo h2 {
  font-size: 4vw;
  line-height: 10px;
  font-weight: 600;
}
.logo p {
  font-size: 1.8vw;
  margin-top: 1vw;
}
#city {
  font-size: 12vw;
  font-weight: 600;
  line-height: 150%;
  
}
.cast {
  grid-column: span 5;
  font-size: 8vh;
}

#temperature {
  font-size: 12vw;
}

#temperature,
#min,
#max {
  font-family: "Anton", sans-serif;
  margin-left: 5px;
}
#temperature:hover {
  cursor: pointer;
}
#description {
  font-size: 8vw;
}
.minmax-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vw;
  
}
.btn {
  font-size: 4vw;
  border-radius: 30px;
 
  padding: 2% 0;
  text-align: center;
  border: 2px solid #ccc;
}
.min-btn {
  background-color: rgba(30, 30, 180, 0.8);
}
.max-btn {
  background-color: rgba(180, 30, 30, 0.8);
}
footer {
  grid-area: footer;
  
}
footer .foot-text {
  padding: 1px 2px;
  border-radius: 5px;
  background: rgba(44, 34, 10, 0.5);
  font-size: 1.3rem;
  color: #ccc;
}
.red {
  color: red;
  text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
}

@media (orientation: landscape) {
  #city,
  #temperature {
    font-size: 12vh;
  }
  .btn {
    font-size: 4vh;
  }

  #description {
    font-size: 7vh;
  }
}

@media (max-height: 500px){
  .logo svg {
    width: auto;
    height: 15vh;
  }
 
  .card {
    grid-template-rows: 0.1fr 1.3fr 0.8fr 0.8fr; 
  }
  #city {
    grid-column: 1/3;
  }
  .cast {
    grid-column: 3/6;
  }
}
@media (max-height: 300px){
  footer .foot-text {
    display: none;
  }
  .logo svg {
    width: auto;
    height: 25vh;
  }
  .logo h2 {
    font-size: 10vh;
  }
  .logo p {
    font-size: 5vh;
  }
  .minmax-row {
    display: none;
  }
}